<form action="https://formspree.io/mwkrbyyo" method="POST" class="mb-4">
  <div class="form-group">
    <label for="name">Your name:</label>
    <input type="text" name="name" id="name" class="form-control">
  </div>
  <div class="form-group">
    <label for="replyto">Your email:</label>
    <input type="text" name="_replyto" id="replyto" class="form-control">
    <small>(So we can get back to you)</small>
  </div>
  <div class="form-group">
    <label for="message">Your message:</label>
    <textarea name="message" id="message" class="form-control"></textarea>
  </div>

  <div class="g-recaptcha mb-3" data-sitekey="6LefwV4aAAAAAPbhq1MO5KOFyUxKxBXQK8y4Q8XW"></div>
  <button class="btn btn-primary btn-block btn-lg" role="button" type="submit">Send</button>
</form>

  <script>
  document.body.addEventListener('keydown', function(e) {
      if(e.keyCode == 13 && (e.metaKey || e.ctrlKey)) {
          var target = e.target;
          if(target.form) {
              target.form.submit();
          }
      }
  });
  </script>