				<div class="col-12 col-md-6 col-xl-4 px-1 mb-4 mb-md-0">
					<div class="card rounded-0 shadow bg-secondary p-0 mx-2 mb-0 mb-md-4 border-{{ project.title | slugify }}">
						<a class="rounded-0 project-header bg-{{ project.title | slugify }}" href="{{ project.permalink }}" title="{{ project.title }}" aria-label="{{ project.title }}">
							<div class="project-background w-100" style="{% if project.poster %}background-image: url({{ project.poster }}); background-size: cover;{% else %}background-image: url({{ project.banner }}); background-size: contain;{% endif %}">
								
							<div class="project-text {% unless include.with_text %}no-text{% endunless %} btn btn-primary rounded-0 text-center {{ project.title | slugify }}"><span>{{ project.link_text | default: "See more" }}</span></div>
							</div>
						</a>
						{% if include.with_text %}
							<div class="card-body bg-light "> 
								{{ project.synopsis | markdownify }}
							</div>
						{% endif %}
					</div>
				</div>