// Font
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');

html {
	scroll-behavior: smooth;
}
// Colour Palette
$pb-sea-serpent: #00a0a0;
$pb-off-white: #FEF7F1;
$pb-navy: #23395B;

// Brand
.bg-primary hr {
	border-color: darken($pb-sea-serpent, 10%);
}

.bg-secondary a:hover {
	color: lighten($pb-sea-serpent, 20%);
}

// Projects 
.project-title { 
	@extend .my-4, .py-5;
}
// Project classes
@each $name, $color in $pbt-projects {
  .bg-#{$name} {
    background-color: $color !important; 
    h1 {
    	font-weight: 300;
    }
  }
  .card-footer.#{$name} {
  	border-color: $color !important;
  }
  a.bg-#{$name} {
    &:hover {
    	background-color: darken($color, 15%) !important;
    }
  }
}

.project-header {
	height: 5rem;
	border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
    &.card {
	    @extend .p-2;
    }
}
.project-background {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
}

// Contrast tweaks
.bg-primary, .btn-primary {
	color: $pb-off-white;
}
.bg-primary { 
	a {
	color: $pb-navy;
		&:hover {
			color: #000;
		}
	}
	.text-muted {
		color: lighten($pb-sea-serpent, 70%) !important;
	}
}


// Layout
blockquote {
	@extend .ml-4;
}

.full-column {
	@extend .col, .col-lg-8, .offset-lg-2;
}

// Headshots
.headshot-pbt {
	width: 40%;
	@media only screen and (min-width: map-get($grid-breakpoints, "md")){
		width: 40%;
	}
}
.headshot-cast {
	width: 40%;
	@media only screen and (min-width: map-get($grid-breakpoints, "sm")) 
	and (max-width: map-get($grid-breakpoints, "md")){ 
		width: 30%;
	}
	@media only screen and (min-width: map-get($grid-breakpoints, "lg")){
		width: 50%;
	}
}
.headshot-team {
	width: 40%;
	@media only screen and (min-width: map-get($grid-breakpoints, "md")) {
		width: 27%;
	}
	@media only screen and (min-width: map-get($grid-breakpoints, "lg")) {
		width: 30%;
	}
}
