--- 
layout: outer 
---

    <div class="container-fluid">
		<div class="row">
			<div class="col-12 col-lg-8 offset-lg-2" id="section_intro">
				<h1>{{ content }}</h1> 
			</div>
		</div>
	</div>
	<div class="container-fluid bg-primary pb-4 mt-3" id="section_shows">
		<div class="row pt-4">
			<div class="col text-center">
				<h1 id="shows" class="display-3">Phone Box Shows</h1>
			</div>
		</div>
		{% assign projects = site.projects | project_date_sort | reverse %}
		<div class="row no-gutters">
			{% for project in projects %}
				{% include project_button.html project=project %}
			{% endfor %}
		</div>
	</div>
	<div class="container-fluid" id="section_team">
		<div class="row my-3 pt-3">
			<div class="col text-center">
				<h1 id="team" class="display-3">Phone Box Team</h1>
			</div>
		</div>
		<div class="row mx-lg-5">
			{{ site.people }}
			{% for person in site.data.people %}
				{% include person.html person=person phonebox=true excerpt=true headshot_class="headshot-pbt" %}
			{% endfor %}
			<a class="btn btn-primary btn-block btn-lg rounded-0 mb-4" role="button" href="/about/">Read more about the team</a>
		</div>
	</div>