--- 
layout: outer 
---

    <div class="container-fluid">
		<div class="row">
			<div class="col-8 text-center my-4 mx-auto">
				<a href="/"><img src="{{ site.logo_path }}" class="w-75" alt="Phone Box Theatre Logo"></a>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-lg-8 offset-lg-2" id="section_intro">
				<h1>{{ content }}</h1>
				<div class="w-100 text-center">
					{% assign pareidolia = site.projects | where: "permalink", "/pareidolia/" | first %}
					<a class="mx-auto w-75 btn bg-pareidolia-2020 btn-lg rounded-0" role="button" href="{{ pareidolia.external_link }}"><strong>PAREIDOLIA 2020</strong> is available to watch <strong>online, for free</strong> from 30th September until 31st October. <br><strong class="text-uppercase">Watch now</strong> <i class="fab fa-youtube"></i></a><br>
					<a class="mx-auto btn w-50 bg-pareidolia-2020 btn-lg rounded-0 my-3" role="button" href="{% link _projects/pareidolia.md %}">Read more about <strong>PAREIDOLIA 2020</strong></a><br>
					<a class="mx-auto btn w-50 btn-outline-primary btn-lg rounded-0" role="button" href="#team"><i class="fa fa-fw fa-arrow-down" aria-hidden="True"></i>&nbsp;Or scroll to learn more about us...</a>
				</div>
			</div>
		</div>
	</div>
	<hr class="w-25">
	<div class="container-fluid" id="section_team">
		<div class="row my-3">
			<div class="col text-center">
				<h1 id="team" class="display-3">Phone Box Team</h1>
			</div>
		</div>
		<div class="row mx-lg-5">
			{{ site.people }}
			{% for person in site.data.people %}
				{% include person.html person=person phonebox=true headshot_class="headshot-pbt" %}
			{% endfor %}
		</div>
	</div>
	<div class="container-fluid bg-primary" id="section_shows">
		<div class="row pt-4">
			<div class="col text-center">
				<h1 id="shows" class="display-3">Phone Box Shows</h1>
			</div>
		</div>
		{% assign projects = site.projects | project_date_sort | reverse %}
		<div class="row no-gutters">
			{% for project in projects %}
				<div class="col-md-4 col-12 mb-4">
					{% include project_button.html project=project %}
				</div>
			{% endfor %}
		</div>
	</div>