<!doctype html>
<html lang="en" class="h-100">
  <head>
    <!-- Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179405465-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-179405465-1');
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="Theatre, Independent, Creative, Arts">
	<meta name="author" content="Phone Box Theatre; Sam Osborne">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}?cachebust={{ site.time | date: "%Y%m%d%H%M"}}">
    <link rel="icon" href="/static/img/favicon.png">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">


    <title>{% if page.title and page.title != 'Index' %}{{ page.title }} | Phone Box Theatre{% else %}Phone Box Theatre{% endif %}</title>

  </head>
  <body class="d-flex flex-column h-100">
    <div class="header mb-4 shadow-sm">
      <nav class="navbar navbar-expand-md navbar-dark bg-pb-navy sticky-top">
        <div class="brand-mobile"> 
          <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/static/img/phone_box_logo_dark.png" height="50px" alt="Phone Box Theatre Logo" /></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#phoneBoxNavbar" aria-controls="phoneBoxNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse w-100" id="phoneBoxNavbar">
          <ul class="navbar-nav mr-auto align-items-center w-100 nav-fill">
            {% for item in site.data.nav %}
            <li class="nav-item {% if item.href == page.permalink %}active{% endif %}">
              {% if item.title == 'Socials' %}
                {% assign socials = site.contacts | where: "header", "true" %}
                {% for social in socials %}
                 <a href="{{ social.href }}"><i class="{{ social.icon }}" aria-label="{{ social.name }}"></i><span class="sr-only">{{ social.name }}</span></a>&nbsp;
                {% endfor %}
              {% else %}
              <a class="{% if item.logo == true %}brand-large{% else %}nav-link{% endif %}" href="{{ item.href }}">
                {% unless item.logo == true %}{{ item.title }}{% else %}<img src="/static/img/phone_box_logo_dark.png" height="100px" alt="Phone Box Theatre Logo" />{% endunless %}
              </a>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </nav>
      {% if page.hero_image %}
      <div class="hero-image w-100" style="background-image: url({{ page.hero_image }});">
      </div>
      {% endif %}
    </div>

  	{{ content }} 
  	<div class="container-fluid footer mt-auto" id="section_footer">
  		<div class="row bg-secondary align-items-center">
  			<div class="col-md text-lg-right text-center py-4 order-lg-2 order-1">
  				{% for s in site.contacts %}
  				<a href="{{ s.link }}"><i class="fa-3x fa-fw {{ s.icon }}"></i><span class="sr-only">Contact Phone Box Theatre via {{ s.name }}</span></a>
  				{% endfor %}
  			</div>
  			<div class="col-lg-4 text-lg-left text-center order-lg-1 order-2">
  				<p class="small text-light my-auto">&copy; Phone Box Theatre, {{ 'now' | date: "%Y" }}</p>
  				<p class="small text-light my-auto">Web Design by <a href="https://web.samosborne.me/" title="Sam Osborne Web Design">Sam Osborne</a></p>
  			</div>
  		</div>
  	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>

