--- 
layout: inner
body_bg: bg-primary
alt_logo: true 
---

<!-- <h1>{{ page.project_date }}</h1> -->

<h1>{{ page.performed | markdownify }}</h1>

<div class="ml-4"><em>{{ page.synopsis | markdownify | linebreaks }}</em></div>

{{ content | markdownify }}

{% if page.cast %}
<h1 class="text-center display-4 mt-4">The Cast</h1>
<div class="row">
	{% for person in page.cast %}
		{% assign show_slug = page.title | slugify %}
		{% assign headshot_class = "headshot-cast project-" | append: show_slug %}
		{% include person.html person=person img_width="50" headshot_class=headshot_class %}
	{% endfor %}
</div>
{% endif %}
{% if page.team %}
<h1 class="text-center display-4 mt-4">Production Team</h1>
<div class="row">
	{% for person in page.team %}
		{% include person.html person=person col_class="col-sm-6" img_width="30" headshot_class="headshot-team"%}
	{% endfor %}
</div>
{% endif %}
<hr>

{% assign num_projects = site.projects.size %}
{% assign num_listed = 0 %}
{% if num_projects > 1 %}
	<h2>Latest Shows</h2>
	<div class="row mb-4 no-gutters">
		<div class="card-deck mx-0 h-100 col">
			{% assign projects = site.projects | reverse %}
			{% for project in projects %}
				{% if num_listed >= 2 %}{% break %}{% endif %}
				{% unless project.permalink == page.permalink %}
					<div class="card bg-secondary p-0 mx-2 border-project-{{ project.title | slugify }}">
						<a class="project-header bg-project-{{ project.title | slugify }}" href="{{ project.permalink }}" title="{{ project.title }}" aria-label="{{ project.title }}">
							<div class="project-background" style="background-image: url({{ project.banner }});"></div>
						</a>
						<div class="card-body">
							<p class="mb-1">{{ project.performed }}</p>
						</div>
						<div class="card-footer text-center project-{{ project.title | slugify }}"><span>{{ project.project_date }}</span></div>
					</div>
					{% assign num_listed = num_listed | plus: 1 %}
				{% endunless %}
			{% endfor %}
		</div>
	</div>
{% endif %}
