--- 
layout: inner
body_bg: bg-primary
alt_logo: true 
---

<h1>{{ page.project_date }}</h1>

<h2>{{ page.performed | markdownify }}</h2>

<div class="ml-4"><em>{{ page.synopsis | markdownify | linebreaks }}</em></div>

{{ content | markdownify }}

{% if page.cast %}
<h1 class="text-center display-4 mt-4">The Cast</h1>
<div class="row">
	{% for person in page.cast %}
		{% include person.html person=person img_width="50" headshot_class="headshot-cast" %}
	{% endfor %}
</div>
{% endif %}
{% if page.team %}
<h1 class="text-center display-4 mt-4">Production Team</h1>
<div class="row">
	{% for person in page.team %}
		{% include person.html person=person col_class="col-sm-6" img_width="30" headshot_class="headshot-team"%}
	{% endfor %}
</div>
{% endif %}
<hr>

{% assign num_projects = site.projects.size %}
{% assign num_listed = 0 %}
{% if num_projects > 1 %}
	<h2>Latest Shows</h2>
	<div class="row mb-4 no-gutters">
		<div class="card-deck mx-0 h-100 col">
			{% assign projects = site.projects | project_date_sort | reverse %}
			{% for project in projects %}
			 <!-- <img src="{{ project.poster }}" /> -->
				{% if num_listed >= 2 %}{% break %}{% endif %}
				{% unless project.permalink == page.permalink %}
					{% include project_button.html project=project %}
					{% assign num_listed = num_listed | plus: 1 %}
				{% endunless %}
			{% endfor %}
		</div>
	</div>
{% endif %}
