--- 
layout: outer
---

<div class="container mb-4">
	<div class="row w-75 mx-auto">
		<div class="col-12 text-center">
			<h1 class="display-4">{{ page.title }} {% if page.playwright %}by {{ page.playwright }}{% endif %}</h1>
		</div>
		<div class="col-12">
			{% if page.poster %}
		    	<div class="hanging-image">
		        	<img src="{{ page.poster }}" class="img-fluid shadow-sm" width="100%" alt="{{ page.title }} poster">
				</div>
			{% endif %}

			<h2>{{ page.project_date }}</h1>

			<h3>{{ page.performed | markdownify }}</h3>

			<p><em>{{ page.synopsis | markdownify | linebreaks }}</em></p>
			
		</div>
		<div class="col-12">
			{{ content | markdownify }}
		</div>
	</div>
</div>
<div class="container-fluid bg-primary">
	{% if page.cast %}
	<div class="row">
		<div class="col-12">
			<h1 class="text-center display-4 mt-4">The Cast</h1>
		</div>
	</div>
	<div class="row w-75 mx-auto">
		{% for person in page.cast %}
			{% include person.html person=person img_width="50" headshot_class="headshot-cast" %}
		{% endfor %}
	</div>
	{% endif %}
	{% if page.team %}
	<div class="row">
		<div class="col-12">
			<h1 class="text-center display-4 mt-4">Production Team</h1>
		</div>
	</div>
	<div class="row w-75 mx-auto">
		{% for person in page.team %}
			{% include person.html person=person col_class="col-sm-6" img_width="30" headshot_class="headshot-team"%}
		{% endfor %}
	</div>
	{% endif %}
</div>

{% assign num_projects = site.projects.size %}
{% assign num_listed = 0 %}
{% if num_projects > 1 %}
<div class="container mt-4">
	<div class="row">
		<div class="col-12 text-center">
			<h1>Latest Shows</h1>
		</div>
	</div>
	<div class="row mb-4 no-gutters">
		<div class="card-deck mx-0 h-100 col">
			{% assign projects = site.projects | project_date_sort | reverse %}
			{% for project in projects %}
			 <!-- <img src="{{ project.poster }}" /> -->
				{% if num_listed >= 2 %}{% break %}{% endif %}
				{% unless project.permalink == page.permalink %}
					{% include project_button.html project=project %}
					{% assign num_listed = num_listed | plus: 1 %}
				{% endunless %}
			{% endfor %}
		</div>
	</div>
</div>
{% endif %}
